<%- contentFor('body') %>
<div class="headerSection">
          <div class="container">
          <div class="Word"><a href="/"> Home</a></div>
          <div class="logo">
                 <img src="/logo.png">
              </div>
          <div class="searchBar">
                <input id="searchWord" type="text" placeholder="Type a word or a phrase to search">
                <button class="btn search-submit" type="button" onclick="search()"><span>Search</span></button>           
                </div>
             <div class="browseWordsbyLetter">
                 <h1>Search word by letter</h1>
                  <ul>
                      <% for(var k = 0; k < param.englishChars.length;k++)
                      { %>
                      <li><a href="/search/<%= param.englishChars[k] %>">
                              <%= param.englishChars[k] %>
                          </a></li>
                      <%
                      }
                      %>
                  </ul>

                 <ul>
                     <%
                     for(var k = 0; k < param.hindiChars.length;k++)
                     { %>
                     <li><a href="/search/<%= param.hindiChars[k] %>">
                             <%= param.hindiChars[k] %>
                         </a></li>
                     <%
                     }
                     %>
                 </ul>
             </div>
          </div>
  </div>